@model List<Question>
@{
    ViewData["Title"] = "List of Questions";
}
<h1>@ViewData["Title"]</h1>
<h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Questions" asp-action="Add">Add A Question</a>
</h2>
<ul>
    @foreach (var q in Model)
    {
    <li>
        <h3>
            <a class="nav-link text-dark" asp-area="" asp-controller="Questions" asp-action="Get" asp-route-id="@q.ID">@q.Title</a>
        </h3>
        
    </li>
    }
</ul>